<!DOCTYPE html>
<html ng-app="kanban">
<head>
    <title>KANBAN</title>
    <meta charset="utf-8" />
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body style="background: url('http://www.wallpaperup.com/uploads/wallpapers/2012/12/18/25695/5f2342b8524f36b340f397d2598797a4.jpg') no-repeat center center;" ng-controller="IndexController">


    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-caret-left"></i>
                KANBAN <i class="fa fa-caret-right"></i>
            </a>
        </div>
    </nav>


    <div class="container-fluid">

        <div class="row" sv-root>
            <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="list in lists" sv-part="lists">
                <div class="panel panel-default" sv-element>
                    <div class="panel-heading" class="center-block" style="font-size:larger">
                        <span ng-show="list.Edit">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="list.Name" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="saveList(list)"> <i class="fa fa fa-save"></i></button>
                                </span>
                            </div>
                        </span>
                        <span ng-hide="list.Edit">
                            <span ng-click="list.Edit=true">{{list.Name}}</span>
                            <a class="btn btn-default pull-right" style="margin-left:auto" role="button" ng-click="deleteList(list)"><i class="fa fa-eraser"></i></a>
                        </span>

                    </div>

                    <div class="panel-body" ng-repeat="card in list.cards" sv-part="list.cards">
                        <div class="panel-body" sv-element>
                        {{card.Text}}
                    </div>
                        <a class="btn btn-sm pull-right" style="margin-left:auto" role="button"><i class="fa fa-times-circle" ng-click="deleteCard(card)"></i></a>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add new card..." ng-model="list.newCard.Text" ng-keypress="($event.charCode==13)?addCard(list):return">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addCard(list)"> <i class="fa fa-sticky-note-o"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel panel-heading" class="center-block" ng-model="currentList">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add new list..." ng-model="newList.Name" ng-keypress="($event.charCode==13)?addList():return">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="addList()"> <i class="fa fa-sticky-note-o"></i> </button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>

    </div>



    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
